<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404 ❌</title>
    <style>
        img{
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <br>
    <center><img src="https://cdn.dribbble.com/users/140000/screenshots/2800256/404-error-dribbble.jpg" alt="Error 404" height="600" width="600"></center>
    <!-- <h1>🥺 Recurso no encontrado</h1> -->
</body>
</html>