<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404 ❌</title>
    <link rel="stylesheet" href="/styles/global.css">
</head>
<body>
    <!--Encabezado de la pagina-->
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Tienda 🛒</a> </li>
            <li class="main-header__item"><a href="/admin/add-product">➕ Agregar producto</a> </li>
            <li class="main-header__item"><a href="/about">🙋‍♂️ Acerca de...</a> </li>
        </ul>
    </nav>
</header>
<main>
    <br>
    <center><img src="https://cdn.dribbble.com/users/140000/screenshots/2800256/404-error-dribbble.jpg" alt="Error 404" height="500" width="500"></center>
</main>
    <!-- <h1>🥺 Recurso no encontrado</h1> -->
</body>
</html>