<!--Encabezado de la pagina-->
<header>
    <nav>
        <ul>
            <li><a href="/">Tienda 🛒</a> </li>
            <li><a href="/add-product">➕ Agregar producto</a> </li>
        </ul>
    </nav>
</header>
<!-- Seccion principal de la tienda -->
<main>
    <h1>🎅 Mis productos 🎅</h1>
    <ul>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
    </ul>
</main>
</body>
</html>